$black: hsl(224, 35%, 11%);
$dark-gray: hsl(225, 26%, 23%);
$medium-gray: hsl(225, 21%, 45%);
$light-gray: hsl(225, 40%, 83%);
$white: hsl(0, 0%, 100%);
$green: hsl(157, 74%, 62%);
$red: hsl(0, 96%, 61%);
